.App {
  text-align: center;
}

#section_one{
  margin: 1;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
}

.wrapper{
  text-align: center;
}

.group_of_three{
  display: inline-block;
  text-align: center;
  width: 33%;
  vertical-align: top;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1px;
}

#section_six_and_eight{
  border:0px;
}

#section_six{
  border: 1px solid black;
  border-radius: 5px;
  margin: 1px;
}

#section_eight{
  border: 1px solid black;
  border-radius: 5px;
  margin: 1px;
}
